question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
a

6

step 1: we are calling b() function
        a is declared a global
        then we are calling c() function and passing a as a parameter
        it returns 2 so it is stored in a
        
step 2: same as step 1 we are calling b() function and then c() function passing a
        it returns 4 and it is stored in a (2+2)
  
step 3: same as step 1 and step 2 we are calling b() function and then c() function passing a
        it returns 6 and it is stored in a (4+2)
        
        at the end the value of a is 6

question 2

In [2]:
def filelength(file):
    try:
        with open(file,"r") as n:
            print(len(n.readline()))
    except FileNotFoundError:
        print("file "+file+" not found")

filelength("FileLength.txt")
filelength("nofile.txt")

28
file nofile.txt not found

question 3

In [3]:
class Marsupial:
    def __init__(self):
        self.bag = []
        self.x = 0
        self.y = 0
    def put_in_pouch(self,item):
        self.bag.append(item)
    def pouch_contents(self):
        return self.bag
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return f'I am a kangaroo at coordinates ({self.x},{self.y})'
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a kangaroo at coordinates (0,0)
I am a kangaroo at coordinates (3,0)

question 4

In [4]:
def collatz(x):
    if x==1:
        print(x)
       
    elif x%2==0:
        print (x)
        
        collatz(x/2)
    else:
        print (x)
        
        collatz(3*x+1)
        
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

question 5

In [5]:
def binary(n):
    if n>1:
        binary(n//2)
    print(n%2,end="")
binary(9)

1001

In [ ]:
question 6

In [6]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.recording = 0
        self.recording2 = 0
        self.data = []
    def handle_starttag(self, tag, attributes):
        if(('h1' in tag ) or ('h2' in tag)):
            pass
        else:
            return
        if('h2' in tag):
            if(self.recording2):
                self.recording2 += 1
            else:
                self.recording2 = 1
            return
        if('h1' in tag):
            if(self.recording):
                self.recording += 1
            else:
                self.recording = 1
            return
    def handle_endtag(self, tag):
        if tag == 'h1' and self.recording:
            self.recording -= 1
        if tag == 'h2' and self.recording2:
            self.recording2 -= 1
    
    def handle_data(self, data):
        if self.recording:
            print(data)
        if self.recording2:
            print ("" + data)
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
Principles

question 8

sql queries

a) All the temperature data.

SELECT temperature FROM weather;

b) All the cities, but without repetition.

SELECT DISTINCT city FROM weather;

c) All the records for India.

SELECT * FROM weather
WHERE country = "india";

d) All the Fall records.

SELECT * FROM weather
WHERE season = "fall";

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.


SELECT city, country, season FROM weather
WHERE rainfall > 200 AND rainfall < 400;

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

SELECT city, country, rainfall FROM weather
WHERE season = "fall" AND temperature > 20
ORDER BY temperature ASC;

g) The total annual rainfall for Cairo.

SELECT city, SUM(rainfall) FROM weather
WHERE city = "cairo";

h) The total rainfall for each season.

SELECT season, SUM(rainfall) FROM weather
GROUP BY season;

question 9

In [7]:
words = ['The','quick','brown','fox','jumps','over','the','lazy', 'dog']
a = []
b = []
c = []
d = []
e = []
for i in words:
    a.append(i.upper())
    b.append(i.lower())
    c.append(len(i))
for i in range(len(a)):
    tmp = []
    tmp.append(a[i])
    tmp.append(b[i])
    tmp.append(c[i])
    d.append(tmp)
    del tmp

for i in words:
    if len(i) > 4:
        e.append(i)

In [8]:
a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [9]:
b

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [10]:
c

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [11]:
d

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [12]:
e

['quick', 'brown', 'jumps']